name: C CI

on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]

jobs:
  build:
    runs-on: ubuntu-latest

    timeout-minutes: 2

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'

      - name: Compile C Code
        run: |
          gcc main.c browser_history.c -o browser_test -Wall -Wextra

      - name: Make executable
        run: chmod +x browser_test

      - name: Run Python Tests
        run: python3 test_runner.py