name: C CI

on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]
    

jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 2

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Compile Test Driver
        run: |
          gcc test_main.c browser_history.c -o test_runner -Wall -Wextra

      - name: Run Tests
        run: ./test_runner
